<div class="w-100 p-3">
<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<%= form_tag articles_path, method: :get do |f| %>

<div class="input-group">
  <%= text_field_tag "search", params[:search], placeholder: "Search...", class: "form-control w-10" %>
  <div class="input-group-btn">
  <%= submit_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search' %>
  </div>
  </div>
<% end %>

<div class=" bg-gray-100 p-8 col-span-5" >
    <div class="d-flex justify-content-around p-2 ">
      <p>
        <%= render "queries/all_searches", queries: @queries %> 
      </p>
      
    </div>
</div> 

<div id="articles" class="p-3 mb-2 bg-secondary text-white">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
</div>
